@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.soon{
    color: rgba(32, 32, 32);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}



::selection{
    background-color: rgba(107, 27, 255, 0.575);
    color: rgb(224, 224, 224);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(32, 32, 32);
}


::-webkit-scrollbar-thumb{
    background-color: rgb(76, 0, 216);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(96, 11, 255);
}

body {
    background-color: #090a0d;
}

/*-------------------------------------------------------------------------*/

.bck-load {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 1;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: rgb(133, 68, 255);
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

/*-------------------------------------------------------------------------*/

.mess{
    position: fixed;
    z-index: 2;
    background-color: rgb(32, 32, 32);
    color: red;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid red;
    top: 10%;
    left: -70%;
    transform: skewX(-25deg);
    overflow: hidden;
    transition: 0.1s ease;
}



.mess a{
    font-size: 2.7vh;
    font-weight: 200;
    transform: skewX(25deg);
}

.messActive{
    left: 5%;
}

.bck-type-file{
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: none;
}


.type-file{
    position: fixed;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    padding: 10px;
    border-radius: 0.7vw;
}

.tafri9{
    display: none;
}


hr{
    border: none;
    height: 1px;
    background-color: rgb(87, 87, 87);
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}
.type-file aside{
    display: grid;
    font-size: 1.67vw;
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    border-radius: 0.7vw;
    width: 40%;
    height: 100%;
    text-align: center;
    user-select: none;
}

.type-file aside a:hover{
    background-color: rgba(32, 32, 32);
    border-radius: 0.2vw;
}

.ST-file{
    background-color: rgb(20, 20, 20);
    margin-left: 10px;
    border-radius: 0.7vw;
    padding: 10px;
    width: 70vh;
    height: 70vh;
}

.ST-file h1{
    color: white;
    font-size: 1.67vw;
    font-weight: 200;
}

.ST-file input{
    color: rgb(89, 0, 255);
    background: none;
    border: none;
    border-bottom: 2px solid rgb(76, 0, 216);
    outline: none;
    font-size: 1.25vw;
    margin-top: 10px;
}

.ST-video {
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 0.7vw;
}

.ST-audio{
    display: none;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    border-radius: 0.7vw;
}


header {
    background-color: rgba(98, 0, 255, 0.438);
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.logo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.7vw;
}


.photo {
    padding: 100px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.5)), url(images/electronic.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.main{
    color: aliceblue;
    font-size: 1.7vw;
    font-weight: 900;
    padding: 10px;
}


.main span{
    margin-bottom: 10vh;
    color: rgb(50, 0, 230);
    font-size: 8.7vw;
    font-weight: 900;  
}

.navigation a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    font-size: 1.7vw;
    font-weight: 900;
    cursor: pointer;
}

.navigation a:hover{
    color: rgb(136, 72, 255);
}

.navigation .clsST{
    display: none;
}

.box{
    color: white;
    background-color: rgb(32, 32, 32);
    border:2px solid rgb(76, 0, 216);
    font-size: 2.5vw;
    font-weight: 100;
    width: 50%;
    height: 5vw;
    border:none;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-radius: 60px;
    transition: 0.1s ease;
    outline: none;
}



.box:focus{
    border:2px solid rgb(76, 0, 216);
    width: 70%;
    border-radius: 60px;
}

.GR-BTN{
    display: flex;
}

button{
    color: rgb(83, 83, 83);
    background-color: rgb(32, 32, 32);
    margin-left: 12px;
    font-size: 2.5vw;
    width: 2.9em;
    height: 5vw;
    cursor: pointer;
    padding: 10px 5px;
    border: none;
    letter-spacing: 1px;
    border-radius: 60px;
    transition: 0.1s ease;
    user-select: none;
}

button:hover{
    color: aliceblue;
    background-color: rgb(76, 0, 216);
    transform: scale(0.95);
}

button:active{
    color: rgb(76, 0, 216);
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(76, 0, 216);
}

.pasted:hover{
    background-color: #00b300;
}

.pasted:active{
    color: #00b300;
    background-color: rgb(32, 32, 32);
    border: 2px solid #00b300;
}

.rmv{
    display: none;
}

.rmv:hover{
    background-color: rgb(223, 0, 0);
}

.rmv:active{
    color: rgb(223, 0, 0);
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(223, 0, 0);
}


.cards{
    padding: 4.3vh;
    background: url(images/photo6.jpg);
    color: rgb(255, 255, 255);
    font-size: 0.52vw;
    text-align: center;

}

.laun{
    background: none;
    cursor: pointer;
    border: none;
    margin-right: 1cm;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 900;
    outline: none;
}

.laun:hover{
    color: rgb(47, 0, 255);
}

.ar{
    background-color: rgb(32, 32, 32);
    color: rgb(47, 0, 255);
}

.en{
    background-color: rgb(32, 32, 32);
    color: rgb(47, 0, 255);
}


.shof {
    color: red;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 50px;
    border: 2px solid red;
    cursor: pointer;
    font-size: 1em;
    margin-top: 50px;
    transition: 0.2s ease ;
}


.shof:active{
    background-color: red;
    color: white;
}


@media (max-width: 992px) {

    body {
        background-color: #090a0d;
    }
    
    header{
        padding: 40px 10px;
    }

    .loader {
        width: 12em;
        height: 12em;
      }

    .mess{
        top: 12%;
        left: -90%;
    }
    .messActive{
        left: 10%;
    }

    .mess a{
        font-size: 2.7em;
    }

    .type-file{
        display: grid;
        border-radius: 30px;
    }

    .tafri9{
        display: block;
        margin-left: 1em;
        margin-right: 1em;
    }

    hr{
        display: none;
    }
    
    
    .type-file aside{
        display: flex;
        height: 2em;
        font-size: 3em;
        width: 100%;
        justify-content: center;
        text-align: center;
        border-radius: 30px;
    }

    .type-file .ST-file{
        width: 45vh;
        height: 50vh;
        border-radius: 30px;
        margin-left: 0;
        margin-top: 20px;
    }



    .logo{
        font-size: 3em;
        margin-left: 2em;
    }

    .laun{
        font-size: 2em;
    }

    .navigation a{
        font-size: 3em;
        font-weight: 900;
        margin-right: 1em;
    }

    .photo {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background:linear-gradient(rgba(0,0,0,.5),rgb(0,0,0,.5)), url(images/elephone.jpg);
        background-attachment: fixed;
    }
    
    .main{
        font-size: 2.9em;
        text-align: center;
        margin-bottom: 2em;
    }

    .main h2 span{
        font-size: 1.5em;
    }
    
    .box{
        height: 2.7em;
        font-size: 1em;
        width: 100%;
        border: 2px solid rgb(32, 32, 32);
        transition: 0s;
    }
    .box:focus{
        width: 100%;
        border:2px solid rgb(76, 0, 216);
    }

    .GR-BTN{
        display: grid;
    }

    button{
        margin-top: 20px;
        transition: 0s;
        width: 100%;
        height: 2.7em;
        font-size: 1em;
        color: white;
        background-color: rgb(32, 32, 32);
        border: 2px solid white;
    }


    button:hover{
        transform: none;
        color: white;
        background-color: rgb(32, 32, 32);
        border: 2px solid white;
    }

    button:active{
        background-color: rgb(76, 0, 216);
        border: rgb(76, 0, 216);
        color: white;
    }
    
    .shof{
        padding: 10px 30px;
    }

    .cards {
        font-size: 1.2em;
        padding: 60px 0px;
    }
}




